<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'publico-inicio' %}"><i class="fas fa-book-open"></i> mySchool</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'publico-inicio' %}">Página Inicial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'publico-funcionalidades' %}">Funcionalidades</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="{% url 'publico-sobre' %}" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sobre
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{% url 'publico-equipa' %}">Equipa</a>
          <a class="dropdown-item" href="#">História</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'publico-contactos' %}">Contactos</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'app-inicio' %}"><i class="fas fa-cog"></i> Dashboard</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'app-registar' %}"><i class="fas fa-edit"></i> Criar uma Conta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'app-login' %}"><i class="fas fa-user"></i> Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
