asgiref==3.2.3
autopep8==1.4.4
Django==3.0.1
django-crispy-forms==1.8.1
django-extensions==2.2.5
docutils==0.15.2
Pillow==6.2.1
pip-autoremove==0.9.1
pycodestyle==2.5.0
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
