cffi==1.14.0
Pillow==7.0.0
pip==20.0.2
pytz==2019.3
Django==3.0.4
sqlparse==0.3.1
psycopg2==2.8.4
asgiref==3.2.7
certifi==2019.11.28
cssselect2==0.3.0
tinycss2==1.0.2
defusedxml==0.6.0
cairocffi==1.1.0
gunicorn==20.0.4
six==1.14.0
webencodings==0.5.1
pycparser==2.20
urllib3==1.25.8
setuptools==46.1.3
WeasyPrint==51
Pyphen==0.9.5
CairoSVG==2.4.2
html5lib==1.0.1
django-crispy-forms==1.9.0
python-dotenv==0.12.0