{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <style>
    @page {
      size: A4;
      margin: 1.5cm;
    }

    td {
      white-space: normal !important;
      word-wrap: break-word;
    }

    table {
      table-layout: fixed;
    }
  </style>
</head>
<body class="container">

<div class="row mb-4">
  <div class="col text-right">
    <h1>{% block cabecalho %}{% endblock cabecalho %}</h1>
    <h6 class="text-muted">{{ request.user.first_name }} {{ user.last_name }} ({{ user.username }})</h6>
  </div>
</div>

{% block content %}
{% endblock %}

</body>
</html>