{% extends 'myschool_app/app/pdf/base.html' %}
{% load i18n %}

{% block cabecalho %}
  {% trans 'Lista de Testes' %}
{% endblock cabecalho %}

{% block content %}
  {% if testes %}
    <table class="table table-borderless">
      <thead>
      <tr>
        <th scope="col">{% trans 'Disciplina' %}</th>
        <th scope="col">{% trans 'Data' %}</th>
        <th scope="col">{% trans 'Realizado?' %}</th>
        <th scope="col">{% trans 'Avaliação' %}</th>
        <th scope="col">{% trans 'Notas' %}</th>
      </tr>
      </thead>
      <tbody>
      {% for teste in testes %}
        <tr>
          <th scope="row">{{ teste.disciplina }}</th>
          <td>{{ teste.data|date:'d/M/Y' }}</td>
          <td>
            {% if teste.realizado %}
              {% trans 'Sim' %}Sim
            {% else %}
              --
            {% endif %}
          </td>
          <td>{{ teste.avaliacao|default_if_none:'--' }}</td>
          <td>{{ teste.notas }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{% trans 'Nenhum teste registado.' %}</p>
  {% endif %}
{% endblock content %}