{% load static %}

<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="{% static 'myschool_app/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'myschool_app/fontawesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'myschool_app/css/bootadmin.min.css' %}" />
    <link rel="stylesheet" href="{% static 'myschool_app/css/bootstrap-datepicker3.min.css' %}">

    <script src="{% static 'myschool_app/js/jquery.min.js' %}"></script>

    <title>mySchool - {% block title %}{% endblock title %}</title>
  </head>
  <body class="bg-light">
    {% include 'myschool_app/app/partials/_navbar.html' %}
    
    {% block content %}
    {% endblock content %}

    <script src="{% static 'myschool_app/js/jquery.min.js' %}"></script>
    <script src="{% static 'myschool_app/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'myschool_app/js/bootadmin.min.js' %}"></script>
    <script src="{% static 'myschool_app/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'myschool_app/js/bootstrap-datepicker.pt.min.js' %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      /*
       * Popup nos links da navbar
       */
      $(document).ready(function() {
        $(function() {
          $('[data-toggle="tooltip"]').tooltip();
        });
      });
    </script>

    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
