{% load static %}

<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

  <link rel="stylesheet" href="{% static 'myschool_app/css/bootstrap.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'myschool_app/fontawesome/css/all.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'myschool_app/css/bootadmin.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'myschool_app/css/bootstrap-datepicker3.min.css' %}">
  <link rel="stylesheet" href="{% static 'myschool_app/css/sweetalert2.min.css' %}">
  <link rel="stylesheet" href="{% static 'myschool_app/css/toastr.min.css' %}">

  <script src="{% static 'myschool_app/js/jquery.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

  <title>mySchool - {% block title %}{% endblock title %}</title>
</head>
<body class="bg-light">
{% include 'myschool_app/app/partials/_navbar.html' %}


<div class="d-flex">
  {% include 'myschool_app/app/partials/_sidebar.html' %}
  <div class="content p-4">

    {% block content %}{% endblock content %}

    {% include 'myschool_app/app/partials/_footer.html' %}
  </div>
</div>

<script src="{% static 'myschool_app/js/jquer-3.4.1y.min.js' %}"></script>
<script src="{% static 'myschool_app/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'myschool_app/js/bootadmin.min.js' %}"></script>
<script src="{% static 'myschool_app/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'myschool_app/js/bootstrap-datepicker.pt.min.js' %}"></script>
<script src="{% static 'myschool_app/js/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'myschool_app/js/toastr.min.js' %}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  /*
   * Popup nos links da navbar
   */
  $(document).ready(function () {
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  });

  /*
   * Configuração do Toastr
   */
  toastr.options = {
    "closeButton": true,
    "debug": false,
    "newestOnTop": false,
    "progressBar": true,
    "positionClass": "toast-bottom-right",
    "preventDuplicates": false,
    "onclick": null,
    "showDuration": "300",
    "hideDuration": "1000",
    "timeOut": "5000",
    "extendedTimeOut": "1000",
    "showEasing": "swing",
    "hideEasing": "linear",
    "showMethod": "fadeIn",
    "hideMethod": "fadeOut"
  }

  /*
  * Ano atual para o rodapé
  */
  document.getElementById("ano").innerHTML = new Date().getFullYear();
</script>

{% block scripts %}
{% endblock scripts %}
</body>
</html>
