{% extends 'myschool_app/app/base.html' %}
{% load i18n %}

{% block title %}
  {% trans 'Disciplinas' %}
{% endblock title %}

{% block content %}
<div class="d-flex">
  {% include 'myschool_app/app/partials/_sidebar.html' %}

  <div class="content p-4">
    <h2>{% trans 'Disciplinas' %}</h2>

    <div class="row mt-4">
      <div class="col-md-10">
        <!-- Mensagens -->
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}
        
        <a href="{% url 'app-disciplinas-adicionar' %}" class="btn btn-sm btn-info mb-3"> <i class="fas fa-plus"></i> {% trans 'Adicionar' %}</a>
        
        {% if disciplinas %} <!-- Verifica se existem disciplinas registadas -->
          <table class="table table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">{% trans 'Descrição' %}</th>
                <th scope="col">{% trans 'Professor' %}</th>
                <th scope="col">{% trans 'Opções' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for disciplina in disciplinas %}
                <tr>
                  <td>{{ disciplina.descricao }}</td>
                  {% trans 'Sem Professor' as sem_professor %}
                  <td>{{ disciplina.professor|default_if_none:sem_professor }}</td>
                  <td>
                    <a href="{% url 'app-disciplinas-editar' disciplina.id %}" class="btn btn-warning btn-sm">{% trans 'Editar' %}</a>
                    <a href="{% url 'app-disciplinas-remover' disciplina.id %}" class="btn btn-danger btn-sm">{% trans 'Remover' %}</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <div class="mt-2 mb-4">
            <h5>{% trans 'Não tem disciplinas registadas' %}</h5>
            <p>
              {% blocktrans %}Utilize a opção <span class="badge badge-info">Adicionar</span> para adicionar registos.{% endblocktrans %}
            </p>
          </div>
        {% endif %}
      </div>
      <!-- Dica -->
      <div class="col-md-2">
        <div class="card text-center">
          <div class="card-header text-white bg-dark">
            <i class="fas fa-2x fa-lightbulb m-2"></i> <br />
            <h4>{% trans 'Dica' %}</h4>
          </div>
          <div class="card-body m-0 p-3">
            <p>
              {% trans 'Não precisas de registar professores para adicionares disciplinas.' %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
