{% extends 'myschool_app/app/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
  {% trans 'Remover Disciplina' %}
{% endblock title %}

{% block content %}
  <h2><i class="fas fa-bookmark"></i> {% trans 'Disciplinas' %}</h2>

  <div class="row mt-4">
    <div class="col">
      <form method="POST">
        {% csrf_token %}
        <p class="my-3">
          {% blocktrans with disciplina=disciplina.descricao %} Queres mesmo remover a disciplina
            <strong>{{ disciplina }}</strong>?{% endblocktrans %}
        </p>

        <a href="{% url 'app-disciplinas-lista' %}" class="mt-4 btn btn-dark">{% trans 'Voltar' %}</a>
        <input type="submit" class="mt-4 btn btn-danger" value="{% trans 'Remover' %}">
      </form>
    </div>
  </div>
{% endblock content %}
