{% extends 'myschool_app/app/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Remover Evento
{% endblock title %}

{% block content %}
<div class="d-flex">
  {% include 'myschool_app/app/partials/_sidebar.html' %}

  <div class="content p-4">
    <h2>Eventos</h2>

    <div class="row mt-4">
      <div class="col">
        <form method="POST">
          {% csrf_token %}
          <p class="mb-3">Queres mesmo remover o evento com o título <strong>{{ evento.titulo }}</strong>, do dia <strong>{{ evento.data_inicio }}</strong>?</p>
          
          <a href="{% url 'app-eventos-lista' %}" class="btn btn-dark">Voltar</a>
          <input type="submit" class="btn btn-danger" value="Remover">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
