{% extends 'myschool_app/app/base.html' %}
{% load i18n %}

{% block title %}
  {% trans 'Dashboard' %}
{% endblock title %}

{% block content %}
  <h2><i class="fas fa-tachometer-alt"></i> {% trans 'Dashboard' %}</h2>
  <h5 class="text-muted mb-4">{% trans 'Ponto de acesso para todas as informações' %}</h5>

  <div class="row mb-4">
    <div class="col-sm">
      <div class="d-flex border">
        <div class="bg-primary text-light p-4">
          <div class="d-flex align-items-center h-100">
            <i class="fa fa-3x fa-fw fa-book"></i>
          </div>
        </div>
        <div class="flex-grow-1 bg-white p-4">
          <p class="text-uppercase text-secondary mb-0">{% trans 'Disciplinas' %}</p>
          <h3 class="font-weight-bold mb-0">{{ quantidade_disciplinas }}</h3>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="d-flex border">
        <div class="bg-success text-light p-4">
          <div class="d-flex align-items-center h-100">
            <i class="fa fa-3x fa-fw fa-comments"></i>
          </div>
        </div>
        <div class="flex-grow-1 bg-white p-4">
          <p class="text-uppercase text-secondary mb-0">{% trans 'Testes' %}</p>
          <h3 class="font-weight-bold mb-0">{{ quantidade_testes }}</h3>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="d-flex border">
        <div class="bg-danger text-light p-4">
          <div class="d-flex align-items-center h-100">
            <i class="fa fa-3x fa-fw fa-users"></i>
          </div>
        </div>
        <div class="flex-grow-1 bg-white p-4">
          <p class="text-uppercase text-secondary mb-0">{% trans 'Professores' %}</p>
          <h3 class="font-weight-bold mb-0">{{ quantidade_professores }}</h3>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="d-flex border">
        <div class="bg-info text-light p-4">
          <div class="d-flex align-items-center h-100">
            <i class="fa fa-3x fa-fw fa-calendar"></i>
          </div>
        </div>
        <div class="flex-grow-1 bg-white p-4">
          <p class="text-uppercase text-secondary mb-0">{% trans 'Eventos' %}</p>
          <h3 class="font-weight-bold mb-0">{{ quantidade_eventos }}</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-success text-white font-weight-bold"><i
                class="fas fa-forward"></i> {% trans 'Próximos Testes' %}</div>
        <div class="card-body">
          {% if testes %}
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">{% trans "Data" %}</th>
                <th scope="col">{% trans "Disciplina" %}</th>
                <th scope="col">{% trans "Estado" %}</th>
                <th scope="col">{% trans "Opções" %}</th>
              </tr>
              </thead>
              <tbody>
              {% for teste in testes %}
                <tr>
                  <td>{{ teste.data|date:'d/M/Y' }}</td>
                  <td>
                    <a href="{% url 'app-disciplinas-editar' teste.disciplina.id %}">
                      {{ teste.disciplina }}
                    </a>
                  </td>
                  <td>
                    {% if teste.avaliacao is None %}
                      <span class="badge badge-warning">
                          {% blocktrans %}Por Avaliar{% endblocktrans %}
                        </span>
                      <!-- @todo Implementar escala de avaliações -->
                    {% else %}
                      <span class="badge badge-dark">
                          {% blocktrans %}Avaliado: {{ teste.avaliacao }}{% endblocktrans %}
                        </span>
                    {% endif %}
                  </td>
                  <td>
                    <a href="{% url 'app-testes-editar' teste.id %}"
                       class="btn btn-info btn-sm">{% trans "Editar" %}</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% url 'app-testes-lista' as url %}
            <small class="text-muted">{% blocktrans %}Consulte todos os testes
              <a href="{{ url }}">aqui</a>.{% endblocktrans %}</small>
          {% else %}
            <h4>{% blocktrans %}Sem registos.{% endblocktrans %}</h4>
            <p>{% blocktrans %}<a href="{{ url }}">Adicione registos</a> para
              começar.{% endblocktrans %}</p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header bg-info text-white font-weight-bold"><i
                class="fas fa-calendar"></i> {% trans "Próximos Eventos" %}</div>
        <div class="card-body">
          {% if eventos %}
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">{% blocktrans %}Data de Início{% endblocktrans %}</th>
                <th scope="col">{% trans "Título" %}</th>
              </tr>
              </thead>
              <tbody>
              {% for evento in eventos %}
                <tr>
                  <td>{{ evento.data_inicio|date:'d/M/Y' }}</td>
                  <td>
                    <a href="{% url 'app-eventos-editar' evento.id %}">{{ evento.titulo }}</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% else %}
            {% url 'app-eventos-lista' as url %}
            <h4>{% blocktrans %}Sem registos.{% endblocktrans %}</h4>
            <p>{% blocktrans %}<a href="{{ url }}">Adicione registos</a> para
              começar.{% endblocktrans %}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}