{% extends 'myschool_app/app/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
  {% trans 'Remover Professor' %}
{% endblock title %}

{% block content %}
  <h2><i class="fas fa-user-friends"></i> {% trans 'Professores' %}</h2>

  <div class="row mt-4">
    <div class="col">
      <form method="POST">
        {% csrf_token %}
        <p class="my-3">
          {% blocktrans with nome=professor.nome %} Queres mesmo remover o professor <strong>{{ nome }}</strong>
            ?{% endblocktrans %}
        </p>

        <a href="{% url 'app-professores-lista' %}" class="mt-4 btn btn-dark">{% trans 'Voltar' %}</a>
        <input type="submit" class="mt-4 btn btn-danger" value="{% trans 'Remover' %}">
      </form>
    </div>
  </div>
{% endblock content %}
