{% extends 'myschool_app/app/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Adicionar Avaliação
{% endblock title %}

{% block content %}
<div class="d-flex">
  {% include 'myschool_app/app/partials/_sidebar.html' %}

  <div class="content p-4">
    <h2>Testes</h2>

    <div class="row mt-4">
      <div class="col">
        <form method="POST">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-2">
              {{ form.avaliacao|as_crispy_field }}
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              {{ form.notas|as_crispy_field }}
            </div>
          </div>
          <a href="{% url 'app-testes-lista' %}" class="btn btn-dark">Voltar</a>
          <input type="submit" class="btn btn-info" value="Guardar">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
