{% extends 'utilizadores/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
  {% trans 'Recuperar Password' %}
{% endblock title %}

{% block content %}
  <form method="POST">
    {% csrf_token %}

    <label>
      {% trans 'Introduza o endereço de email que registou com a sua conta de utilizador.' %}
    </label>
    {{ form | crispy }}

    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-block btn-primary">{% trans 'Enviar' %}</button>
      </div>
    </div>
  </form>

{% endblock content %}