{% comment %}@formatter:off{% endcomment %}
{% load i18n %}
{% autoescape off %}
  {% blocktrans %}Para começar o processo de recuperação da password para o utilizador {{ user.get_username }} registado no mySchool, clica no link abaixo.{% endblocktrans %}

  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

  {% trans 'Se clicar no link acima não funcionar, copia e cola o endereço num novo separador e tenta novamente.' %}

  {% blocktrans %}
  Cumprimentos,
  A equipa do mySchool
  {% endblocktrans %}
{% endautoescape %}