{% extends 'utilizadores/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
  {% trans 'Recuperar Password' %}
{% endblock title %}

{% block content %}

  <p>Enviámos para o seu endereço de email instruções de como recuperar a sua password, caso o endereço de
    email fornecido esteja registado no mySchool.</p>
  <p class="text-muted">Se não receber o email, verique o endereço de email fornecido e a pasta de spam.</p>

  <div class="col pl-2">
    <a class="btn btn-block btn-primary"
       href="{% url 'publico-inicio' %}">{% trans 'Voltar à Página Inicial' %}</a>
  </div>

{% endblock content %}