{% extends 'utilizadores/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
  {% trans 'Login' %}
{% endblock title %}

{% block content %}
<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-4">
      <h1 class="text-center mb-4">
        <a href="{% url 'publico-inicio' %}" class="text-dark">mySchool</a>
      </h1>
      <div class="card">
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}

            <div class="row"> 
              <div class="col pr-2">
                <button type="submit" class="btn btn-block btn-primary"><i class="fas fa-lock mr-2"></i>{% trans 'Login' %}</button>
              </div>
              <div class="col pl-2">
                <a class="btn btn-block btn-link" href="#">{% trans 'Recuperar Palavra-Passe' %}</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
