{% extends 'utilizadores/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
  {% trans 'Login' %}
{% endblock title %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    {{ form | crispy }}

    <div class="row">
      <div class="col pr-2">
        <button type="submit" class="btn btn-block btn-primary"><i
          class="fas fa-lock mr-2"></i>{% trans 'Entrar' %}</button>
      </div>
      <div class="col pl-2">
        <a class="btn btn-block btn-link"
           href="{% url 'recuperar-password' %}">{% trans 'Recuperar Palavra-Passe' %}</a>
      </div>
    </div>
  </form>

{% endblock content %}
