{% extends 'myschool_app/app/base.html' %}
{% load i18n %}
{% load app_tags %}

{% block title %}
  {% trans 'Perfil' %}
{% endblock title %}

{% block content %}
  <h2>{% trans 'Perfil' %}</h2>

  <div class="row mt-4">
    <div class="col-md-4 text-center">
      <div class="card">
        <div class="card-body">
          <img src="{{ user|gravatar:150 }}" class="rounded p-4">
          <h5 class="display-4" style="font-size: 2.6em;">{{ user.first_name }} {{ user.last_name }}</h5>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <form class="p-2">
            <h4 class="mb-4"><i class="fas fa-pencil-alt"></i> Dados de Registo</h4>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">{% trans 'Nome de utilizador:' %}</label>
              <input class="col-sm-9 form-control" type="text" value="{{ user.username }}" readonly>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">{% trans 'Endereço de email:' %}</label>
              <input class="col-sm-9 form-control" type="text" value="{{ user.email }}" readonly>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">{% trans 'Data de registo:' %}</label>
              <input class="col-sm-9 form-control" type="text" value="{{ user.date_joined }}" readonly>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">{% trans 'Data do último acesso:' %}</label>
              <input class="col-sm-9 form-control" type="text" value="{{ user.last_login }}" readonly>
            </div>
            <a href="#" class="mt-3 btn btn-dark">Alterar Dados</a>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <form class="p-2" action="{% url 'set_language' %}" method="post">
            <h4 class="mb-4"><i class="fas fa-globe-americas"></i> Idioma</h4>
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <div class="row">
              <div class="col-md-8">
                <select class="form-control" name="language">
                  {% get_current_language as LANGUAGE_CODE %}
                  {% get_available_languages as LANGUAGES %}
                  {% get_language_info_list for LANGUAGES as languages %}
                  {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                      {{ language.name_local }} ({{ language.code }})
                    </option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-4">
                <input class="btn btn-dark btn-block" type="submit" value="Alterar">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
