{% extends 'myschool_app/app/base.html' %}
{% load i18n %}
{% load app_tags %}

{% block title %}
  {% trans 'Perfil' %}
{% endblock title %}

{% block content %}
    <h2>{% trans 'Perfil' %}</h2>

    <div class="row mt-4">
      <div class="col">
        <img src="{{ user|gravatar:100 }}" class="rounded p-4" alt="{% trans 'Imagem de perfil de' %} {{ user.username }}">
      </div>

      <div class="col">
        <h4>Utilizador</h4>
        <h2 class="badge badge-success">{{ user.username }}</h2>
      </div>
      <div class="col">
        <h4>Endereço de Email</h4>
        <p>{{ user.email }}</p>
      </div>
    </div>
    <a href="#" class="btn btn-sm btn-info">Editar Perfil</a>
{% endblock content %}
