<div class="sidebar sidebar-dark bg-dark">
  <ul class="list-unstyled">
    <li {% if request.path == '/app/' %} class="active" {% endif %}>
      <a href="{% url 'app-inicio' %}"><i class="fa fa-fw fa-tachometer-alt mr-2"></i> Dashboard</a>
    </li>
    <li>
      <a href="#registos" data-toggle="collapse"> <i class="fa fa-fw fa-sticky-note mr-2"></i> Registos </a>
      <ul id="registos" class="list-unstyled collapse">
        <li><a href="{% url 'app-disciplinas-lista' %}">Disciplinas</a></li>
        <li><a href="{% url 'app-testes-lista' %}">Testes</a></li>
        <li><a href="{% url 'app-eventos-lista' %}">Eventos</a></li>
        <li><a href="{% url 'app-professores-lista' %}">Professores</a></li>
      </ul>
    </li>
    <li {% if request.path == '/app/calendario/' %} class="active" {% endif %}>
      <a href="#"><i class="fa fa-fw fa-calendar  mr-2"></i> Calendário</a>
    </li>
    <li {% if request.path == '/app/definicoes/' %} class="active" {% endif %}>
      <a href="#"><i class="fa fa-fw fa-cog  mr-2"></i> Definições</a>
    </li>
    {% if request.user.is_staff %}
      <li>
        <a href="/admin/" target="_blank"><i class="fa fa-fw fa-user-cog mr-2"></i> Administração</a>
      </li>
    {% endif %}
  </ul>
</div>
